<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'mms/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
    {% load static %}
    <link href="{% static 'mms/leaflet.css' %}" type="text/css" rel="stylesheet" />
    {% load static %}
    <link href="{% static 'mms/common.css' %}" type="text/css" rel="stylesheet" />
    {% load static %}
    <link href="{% static 'mms/new_work_order.css' %}" type="text/css" rel="stylesheet" />
    {% load static %}
    <link href="{% static 'mms/auto-complete.css' %}" type="text/css" rel="stylesheet" />
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">ODOT MMS</a>
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="#">My Open Work Orders</a>
            <a class="nav-item nav-link" href="#">Recently Closed Work Orders</a>
            <a class="nav-item nav-link" href="#">Search for a Work Order</a>
        </div>
        <form class="form-inline">
            <button class="btn btn-success" type="button">+ Work Order</button>
        </form>
    </nav>
    <div class="container d-flex align-items-center flex-column ">
        <div class="container border border-dark rounded" style="margin-top:15px;padding-top:15px;padding-bottom: 15px;">
            <div class="bg-secondary text-light slight-inset" id="secHeader"><h2>Work Order Assets</h2></div>
            <div class="bg-info slight-inset">
                <div class="text-light">
                    <a class="link-white" style="font-weight: bold;" href="#" id="link_woAssets" onclick="switchScreen(this)">
                        WO Assets
                    </a> >
                    <a class="link-white" href="#" id="link_woDetails" onclick="switchScreen(this)">WO Details</a> >
                    <a class="link-white" href="#" id="link_woLabor" onclick="switchScreen(this)">WO Labor</a> >
                    <a class="link-white" href="#" id="link_woEquip" onclick="switchScreen(this)">WO Equip</a> >
                    <a class="link-white" href="#" id="link_woMaterials" onclick="switchScreen(this)">WO Materials</a> >
                    <a class="link-white" href="#" id="link_woOtherContract" onclick="switchScreen(this)">WO Other/Contract</a>
                </div>
            </div>
            <form action= id="form1" onsubmit="return false;">
                <div id="woAssets">
                    <div class="container">
                        <div class="row">
                            <div class="col-5 d-flex align-items-end flex-column">
                                <div class="container" style="margin-top:15px;">
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="assetType">
                                                Choose type of asset to add:
                                            </label>
                                        </div>
                                        <div class="col-6 d-flex align-items-center">
                                            <select id="assetType" onchange="assetTypeChange()">
                                                <option value="roadway">Roadway</option>
                                                <option value="culvert">Culvert</option>
                                                <option value="barrier">Barrier</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p id="zoomInfoText" class="zoomInfoText"></p>
                                    </div>
                                </div>
                                <div class="container" id="entryContainer">

                                </div>
                                <div class="container" style="margin-top: 10px; margin-bottom: 10px; max-height: 300px; overflow: scroll;">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Type</th>
                                                <th scope="col">ID</th>
                                            </tr>
                                        </thead>
                                        <tbody id="assetTableBody">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="mt-auto">
                                    <button type="button" class="btn btn-success" onclick="switchScreen($('#link_woDetails')[0])">Next</button>
                                </div>
                            </div>
                            <div class="col-7">
                                <div id="mapid" style="height:500px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="woDetails" style="display: none;">
                    <div id="woDetailsAccordion">
                        <div class="card">
                            <div class="card-header" id="hdrTCoreFunctionArea">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#bdyTCoreFunctionArea" id="titleTCoreFunctionArea">
                                        Core Function Area
                                    </button>
                                </h5>
                            </div>
                            <div id="bdyTCoreFunctionArea" class="collapse show" data-parent="#woDetailsAccordion">
                                <div id="grpTCoreFunctionArea" class="container btn-group btn-group-toggle" data-toggle="buttons"></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="hdrTCoreAsset">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#bdyTCoreAsset" id="titleTCoreAsset">
                                        Asset
                                    </button>
                                </h5>
                            </div>
                            <div id="bdyTCoreAsset" class="collapse" data-parent="#woDetailsAccordion">
                                <div id="grpTCoreAsset" class="container btn-group btn-group-toggle" data-toggle="buttons"></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="hdrTCoreActivity">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#bdyTCoreActivity" id="titleTCoreActivity">
                                        Activity
                                    </button>
                                </h5>
                            </div>
                            <div id="bdyTCoreActivity" class="collapse" data-parent="#woDetailsAccordion">
                                <div id="grpTCoreActivity" class="container btn-group btn-group-toggle" data-toggle="buttons"></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="hdrTCoreRepairType">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#bdyTCoreRepairType" id="titleTCoreRepairType">
                                        Repair Type
                                    </button>
                                </h5>
                            </div>
                            <div id="bdyTCoreRepairType" class="collapse" data-parent="#woDetailsAccordion">
                                <div id="grpTCoreRepairType" class="container btn-group btn-group-toggle" data-toggle="buttons"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="woLabor" style="display: none;">
                    <div class="container" id="laborContainer">
                        <div class="row border-bottom" style="padding-bottom: 10px;">
                            <div class="col-5">
                                <div class="container" style="padding-top: 10px;">
                                    <div class="row" id="lbMessages">

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="lbDateOfWork">
                                                Date of Work
                                            </label>
                                        </div>
                                        <div class="col d-flex">
                                            <input id="lbDateOfWork" style="width:100%;" type="date" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="lbEmployee">
                                                Employee
                                            </label>
                                        </div>
                                        <div class="col d-flex">
                                            <input id="lbEmployee" class="hideOverflow" type="text" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex align-items-center">
                                            <label for="lbHours">
                                                Hours Worked
                                            </label>
                                        </div>
                                        <div class="col d-flex flex-column">
                                            <input id="lbHours" class="hideOverflow" type="number" step="0.1" max="24" min="0" />
                                            <a href="#" onclick="$('#calcHours').modal('show')">Calculate</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="lbCallback">
                                                Callback?
                                            </label>
                                        </div>
                                        <div class="col">
                                            <input type="checkbox" id="lbCallback" />
                                        </div>
                                    </div>
                                    <div id="midnightSplitDateWorkedDay2" class="row" style="display: none;">

                                    </div>
                                    <div id="midnightSplitHoursWorkedDay2" class="row" style="display: none;">

                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <button type="button" class="btn btn-primary" onclick="addLabor()">Add Labor</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7" style="max-height: 500px;overflow: scroll;">
                                <table class="table table-primary">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Employee</th>
                                            <th scope="col">Hours</th>
                                            <th scope="col">CB?</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bdyLabor">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center" style="padding-top:15px;">
                            <button type="button" class="btn btn-success" onclick="switchScreen($('#link_woEquip')[0])">Next</button>
                        </div>
                    </div>
                </div>
                <div id="woEquip" style="display: none;">
                    <div class="container" id="equipContainer">
                        <div class="row border-bottom" style="padding-bottom: 10px;">
                            <div class="col-5">
                                <div class="container" style="padding-top: 10px;">
                                    <div class="row" id="eqMessages">

                                    </div>
                                    <div class="row d-flex flex-column">
                                        <h4 class="text-black-50">Search Criteria</h4>
                                        <label for="eqSelType">
                                            Equipment Type
                                        </label>
                                        <select id="eqSelType" class="hideOverflow">
                                            <option value="any">Choose one</option>
                                        </select>
                                        <label for="eqSelCC">
                                            Cost Center
                                        </label>
                                        <select id="eqSelCC" class="hideOverflow">
                                            <option value="any">Any</option>
                                        </select>
                                        <label for="eqSelId">
                                            Equipment ID
                                        </label>
                                        <input id="eqSelId" class="hideOverflow" type="number" step="1" max="9999999" min="1000000" />
                                        <div class="d-flex justify-content-around flex-row" style="margin-top:10px;">
                                            <button type="button" class="btn btn-outline-primary" onclick="eqSearch()">Search</button>
                                            <button type="button" class="btn btn-outline-danger" onclick="eqClear()">Clear</button>
                                        </div>

                                    </div>
                                    <div class="row" style="margin-top:10px;">
                                        <h4 class="text-black-50">Results</h4>
                                        <table class="table" style="max-height: 245px;">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Equipment ID</th>
                                                    <th scope="col">Cost Center</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bdyEqSelect"></tbody>
                                        </table>
                                    </div>
                                    <div class="row d-flex flex-column">
                                        <h4 class="text-black-50">Work Info</h4>
                                        <label for="eqWorkDate">
                                            Date
                                        </label>
                                        <input id="eqWorkDate" type="date" class="hideOverflow" />
                                        <label for="eqMeterUsage">
                                            Meter Usage
                                        </label>
                                        <div class="d-flex flex-row align-items-center">
                                            <input id="eqMeterUsage" type="number" class="hideOverflow" step="0.1" /><span id="eqMeterLabel"></span>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center" style="margin-top:10px;padding-top:10px;">
                                        <button type="button" class="btn btn-primary" onclick="addEquip()">Add Equip</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7" style="max-height: 500px;overflow: scroll;">
                                <table class="table table-primary">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Equipment</th>
                                            <th scope="col">Usage</th>
                                            <th scope="col">Units</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bdyEquip">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center" style="padding-top:15px;">
                            <button type="button" class="btn btn-success" onclick="switchScreen($('#link_woMaterials')[0])">Next</button>
                        </div>
                    </div>
                </div>
                <div id="woMaterials" style="display: none;">
                    <div class="container" id="mtContainer">
                        <div class="row border-bottom" style="padding-bottom: 10px;">
                            <div class="col-5">
                                <div class="container" style="padding-top: 10px;">
                                    <div class="row" id="mtMessages">

                                    </div>
                                    <div class="row d-flex flex-column">
                                        <h4 class="text-black-50">Search Criteria</h4>
                                        <label for="mtSelDesc">
                                            Material Description
                                        </label>
                                        <input id="mtSelDesc" type="text" class="hideOverflow" />
                                        <!--<div class="d-flex justify-content-around flex-row" style="margin-top:10px;">
                                            <button type="button" class="btn btn-outline-primary" onclick="mtSearch()">Search</button>
                                            <button type="button" class="btn btn-outline-danger" onclick="mtClear()">Clear</button>
                                        </div>-->
                                    </div>
                                    <div class="row" style="margin-top:10px;">
                                        <h4 class="text-black-50">Results</h4>
                                        <table class="table" style="max-height: 245px;">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Material Description</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bdyMtSelect"></tbody>
                                        </table>
                                    </div>
                                    <div class="row d-flex flex-column">
                                        <h4 class="text-black-50">Work Info</h4>
                                        <label for="mtWorkDate">
                                            Date
                                        </label>
                                        <input id="mtWorkDate" type="date" class="hideOverflow" />
                                        <label for="mtQtyUsed">
                                            Quantity
                                        </label>
                                        <div class="d-flex flex-row align-items-center">
                                            <input id="mtQtyUsed" type="number" class="hideOverflow" step="0.1" /><span id="mtQtyUsedLabel"></span>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center" style="margin-top:10px;padding-top:10px;">
                                        <button type="button" class="btn btn-primary" onclick="addMt()">Add Material</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7" style="max-height: 500px;overflow: scroll;">
                                <table class="table table-primary">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Material</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Units</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bdyMt">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center" style="padding-top:15px;">
                            <button type="button" class="btn btn-success" onclick="switchScreen($('#link_woOtherContract')[0])">Next</button>
                        </div>
                    </div>
                </div>
                <div id="woOtherContract" style="display: none;">

                </div>
            </form>
        </div>
    </div>

    <div id="templinearEntry" style="display: none;">
        <div class="row">
            <div class="col-6" futureid="lbl_linearID">
            </div>
            <div class="col-6">
                <input type="hidden" id="linearLatBegin" />
                <input type="hidden" id="linearLngBegin" />
                <input type="hidden" id="linearLatEnd" />
                <input type="hidden" id="linearLngEnd" />
                <input futureid="linearID" type="text" /> <!-- id="linearID" -->
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                    County Log Begin
            </div>
            <div class="col-6">
                <input futureid="linearLogBegin" type="number" step=".01" /> <!-- id="linearLogBegin" -->
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                    County Log End
            </div>
            <div class="col-6">
                <input futureid="linearLogEnd" type="number" step=".01" /><!-- id="linearLogEnd"-->
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-6 d-flex justify-content-center">
                <button type="button" class="btn btn-primary" onclick="addAsset()">Add Asset</button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button type="button" class="btn btn-danger" onclick="clearAsset()">Clear Asset</button>
            </div>
        </div>
    </div>

    <div id="temppointEntry" style="display: none;">
        <div class="row">
            <div class="col-6" futureid="lbl_pointID">
            </div>
            <div class="col-6 d-flex align-items-center">
                <input type="hidden" id="pointLat" />
                <input type="hidden" id="pointLng" />
                <input futureid="pointID" type="text" /> <!-- id="linearID" -->
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-6 d-flex justify-content-center">
                <button type="button" class="btn btn-primary" onclick="addAsset()">Add Asset</button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button type="button" class="btn btn-danger" onclick="clearAsset()">Clear Asset</button>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="chooseLogpoint">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Replace Begin or End Logpoint?</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="modalLogpoint" />
                    <input type="hidden" id="modalLat" />
                    <input type="hidden" id="modalLng" />
                    <div class="container">
                        <div class="row">
                            <div class="col-6 d-flex justify-content-center">
                                <button type="button" class="btn btn-primary" onclick="replaceBeginLogpoint()">Beginning Logpoint</button>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <button type="button" class="btn btn-primary" onclick="replaceEndLogpoint()">Ending Logpoint</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>-->
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="calcHours">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Calculate Hours</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="modalLogpoint" />
                    <input type="hidden" id="modalLat" />
                    <input type="hidden" id="modalLng" />
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                Start Date
                            </div>
                            <div class="col">
                                <input type="date" id="modalStartDate" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Start Time
                            </div>
                            <div class="col">
                                <input type="time" id="modalStartTime" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                End Date
                            </div>
                            <div class="col">
                                <input type="date" id="modalEndDate" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                End Time
                            </div>
                            <div class="col">
                                <input type="time" id="modalEndTime" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="calcHoursCalc()">Calculate</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'mms/jquery-3.5.1.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'mms/leaflet.js' %}"></script>
    {% load static %}
    <script src="{% static 'mms/bootstrap.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'mms/auto-complete.js' %}"></script>
    {% load static %}
    <script src="{%  static 'mms/moment.js' %}"></script>
    {% load static %}
    <script src="{% static 'mms/new_work_order.js' %}"></script>
</body>
</html>